# Environnements virtuels
venv/
env/

# Fichiers de configuration locaux
.env

# Fichiers générés par Python
__pycache__/
.pytest_cache/
*.pyc

# Fichiers PDF téléchargés 
*.pdf

# Données générées
data/